@media (max-width: 925px) {
	section {
		height: auto !important;
	}
	div {
		height: auto !important;
	}
	.coronah1 {
		font-size: 2rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	.aboutcoronavp {
		text-align: justify;
		margin: 1rem;
	}
}
